#searchForm #titleArea { background-color:transparent; border-bottom:0; }
#searchForm #titleArea span.count { position:static; color:#508bed; }
#searchForm #titleArea h2 { border-bottom:1px solid #c2c2c2; background:#fff; }

.xans-search-form .empty { padding:93px 0 59px; color:#9e9e9e; text-align:center; font-size:11px;  }

.xans-search-form .searchbox { position:relative;  padding:7px 10px 6px;  background:#fff; }
.xans-search-form .searchbox input#keyword { width:100%; text-align:left; padding:0 30px 0 0; border:1px solid #fff }
.xans-search-form .searchbox .button { width:50px; position:absolute; top:7px; right:5px; text-align:right; font-size:9px}
.xans-search-form .searchbox .button .btnStrong { height:21px;  line-height:21px; background:#fff; color:#000; border:1px solid #fff }
.xans-search-form .searchbox .btnDelete {
    overflow: hidden; position: absolute; right: 72px; top: 12px; width: 20px; height: 20px;
    border: 0; cursor: pointer; text-indent: 100%; font-size: 0; white-space: nowrap;
    background: url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png") no-repeat 0 0; background-size: 20px 20px;
 }
.xans-search-form .inner { overflow:hidden; padding:7px 14px 0px; background:#fff; text-align:right;}
.xans-search-form .inner p { float:left; }
.xans-search-form .inner p.button { float:right; padding:2px 0 0; }
.xans-search-form .inner .button img { display:block; border:1px solid red; }
