/* 공통 css */
.ec-base-paginate { margin:0px auto 30px; text-align:center; font-size:10PX; line-height:0; }
.ec-base-paginate ol { display:inline-block; font-size:0; line-height:0; padding:0 10px; vertical-align:top; *display:inline; *zoom:1; *margin:0; }
.ec-base-paginate li { display:inline-block; text-align:center;margin:0 2px; font-size:13px; color:#9e9e9e; vertical-align:middle; *display:inline; *zoom:1; }
.ec-base-paginate li:first-child { margin-left:0; }
.ec-base-paginate img { vertical-align:top; }
.ec-base-paginate li a { display:block; width:25px; height:14px; padding:9px 0; color:#9e9e9e;  line-height:14px;  }
.ec-base-paginate li a:hover { text-decoration:none; }
.ec-base-paginate li a.this {  color:#000;   }
.ec-base-paginate a.nolink { cursor:default; }
.ec-base-paginate i {font-size: 9px; vertical-align:middle; line-height:34px; padding:0px;  color:#000; }
/* typeSub */
.ec-base-paginate.typeSub ol { margin:0 15px; }
.ec-base-paginate.typeSub li { font-size:12px; border:0; }
.ec-base-paginate.typeSub img { vertical-align:middle; }
.ec-base-paginate.typeSub li a {width:10px; height:10px; padding:12px 0 5px; color:#9e9e9e;  line-height:10px;}
.ec-base-paginate.typeSub li a.this {border:0; border-bottom:1px solid #555; color:#000; }
.ec-base-paginate.typeSub .first { margin-right:3px; }
.ec-base-paginate.typeSub .last { margin-left:3px; }