<div class="main_cate">
<nav module="Layout_MobileNavigation">
    <!--@css(/css/module/layout/mobileNavigation.css)-->
  
     
         <ul  module="layout_category">
             <li><a href="/product/list.html{$param}"  class="cate"  >{$name|cut 25}</a></li>
              <li><a href="/product/list.html{$param}"  class="cate" >{$name|cut 25}</a></li>
              <li><a href="/product/list.html{$param}"  class="cate" >{$name|cut 25}</a></li>
             
             <li><a href="/product/list.html{$param}"  class="cate" >{$name|cut 25}</a></li>
              <li><a href="/product/list.html{$param}"  class="cate"  >{$name|cut 25}</a></li>
            
        
      
         </ul>   
         
  
</nav>
</div>