<!--@css(/layout/basic/css/slideMenu-art.css)-->
<!--@js(/layout/basic/js/slide_menu-art.js)-->
<!--@js(/layout/basic/js/left_menu-art.js)-->
<!--@js(/artfinger/js/category-art.js)-->
<nav id="artfinger_slide">
<div class="artfinger_slide_wrap">
    
    <div class="member_state">
    <p module="Layout_stateLogoff" class="member">
        <a href="/member/login.html" >SIGN IN</a>
        <a href="/myshop/order/list.html" >ORDER</a>
        <a href="/myshop/index.html" >MYPAGE</a>
    </p>       
        
    <p module="Layout_statelogon" class="member">
        <a href="{$action_logout}" >LOGOUT</a>
        <a href="/myshop/order/list.html" >ORDER</a>
        <a href="/myshop/index.html" >MYPAGE</a>
    </p>
    </div>

    <!--@import(/artfinger/categorymenu.html)-->    
    
    <!--import(/artfinger/global.html)-->

    <div class="snscate">  
                     <ul>
                         <!--@import(/artfinger/foot_sns.html)-->
                     </ul>  
    </div> 
                  
	</div> 
</nav>

 