
.ec-base-table table:before { position:absolute; top:0; left:0; display:block; content:""; width:100%; height:1px; background:#fff; }

.ec-base-table tbody th {border:0!important; padding:11px 0 10px 0!important}
.ec-base-table tbody td {border:0!important;}

.xans-member-join > h3 { padding:50px 0 10px; font-size:13px; color:#2e2e2e; }
.xans-member-join {}
.xans-member-join ul.grid li { margin:5px 0 0; }
.xans-member-join p.txtDesc,
.xans-member-join ul.txtDesc li { position:relative; padding:0 0 0 9px; margin:3px 0 0; line-height:1.4; }
.xans-member-join p.txtDesc:before,
.xans-member-join ul.txtDesc li:before { position:absolute; top:7px; left:0; display:block; content:""; width:4px; height:1px; background:currentColor; }
.xans-member-join .required { margin:-25px 0 10px; color:#353535; text-align:right; }
.xans-member-join .required img { vertical-align:middle; }
.xans-member-join .displaynone + .required { margin-top:0; }
.xans-member-join .ec-base-table {font-size:11px}
.xans-member-join .ec-base-table .interest { line-height:25px; }
.xans-member-join .ec-base-table .interest label { padding:0 15px 0 2px; }

.xans-member-join .ec-base-box.gStrong { position:relative; z-index:2; }
.xans-member-join .ec-base-box.gStrong p { font-size:11px; color:#353535; line-height:22px; }
.xans-member-join .ec-base-box + .ec-base-box { margin-top:-1px; }
.xans-member-join .ec-base-box {color:#9e9e9e; padding:30px 20px}

.xans-member-join .agreeArea { color:#747474; line-height:20px; }
.xans-member-join .agreeArea h3 { margin:0 0 10px; font-size:12px; color:#353535; }
.xans-member-join .agreeArea .content { overflow:auto; height:110px; padding:20px 0;background:#fff; }
.xans-member-join .agreeArea .content p { padding:0 0 30px; }
.xans-member-join .agreeArea .check { padding:20px 0 0 0; color:#202020; font-size:12px; }
.xans-member-join .agreeArea .check li span { display:inline-block; min-width:170px; }
.xans-member-join .agreeArea input.ec-base-chk { vertical-align:middle; }

/* INPUT SIZE */
.xans-member-join #hint_answer { width:500px; }
.xans-member-join #postcode1,
.xans-member-join #postcode2 { width:50px; text-align:center; }
.xans-member-join #addr1,
.xans-member-join #addr2 { width:280px; margin:5px 0 0; }
.xans-member-join #phone1,
.xans-member-join #mobile1 { width:60px; margin:0 4px 0 0; }
.xans-member-join #phone2,
.xans-member-join #phone3,
.xans-member-join #mobile2,
.xans-member-join #mobile3 { width:50px; margin:0 4px; }
.xans-member-join #email1 { margin-right:4px; }
.xans-member-join #email2 { margin:0 4px; }
.xans-member-join #email3 {padding: 4px 27px 4px 5px;}
.xans-member-join #birth_year,
.xans-member-join #marry_year,
.xans-member-join #partner_year { width:60px; margin:0 4px 0 0; }
.xans-member-join #birth_month,
.xans-member-join #marry_month,
.xans-member-join #partner_month,
.xans-member-join #birth_day,
.xans-member-join #marry_day,
.xans-member-join #partner_day { width:30px; margin:0 4px 0 0; }
.xans-member-join #bank_code { width:240px; }
.xans-member-join #c_bank_account_no { width:230px; }

.xans-member-join #job,
.xans-member-join #job_class,
.xans-member-join #school,
.xans-member-join #region,
.xans-member-join #internet,
.xans-member-join #child,
.xans-member-join #car,
.xans-member-join #earning { width:200px; }

.xans-member-join #add1,
.xans-member-join #add2,
.xans-member-join #add3,
.xans-member-join #add4,
.xans-member-join #add5,
.xans-member-join #add6,
.xans-member-join #add7,
.xans-member-join #add8,
.xans-member-join #add9 { width:500px; }

#realNameAuth p span { display:inline-block; width:80px; }
#ipinWrap img,
#mobileWrap img { display:block; }

/* 툴팁 */
.xans-member-join .eTooltip { position:relative; display:inline-block; }
.xans-member-join .ec-base-tooltip.typeUpper { left:25px; bottom:28px; width:390px; }
.xans-member-join .ec-base-tooltip.typeUpper .edge { left:20%; }


/*join tabel*/
.artfinger_join_wrap {max-width:450px; padding:20px; margin:0 auto; ;}
 
.artfinger_join_table > table {position:relative; margin:10px 0 0; border-top:none!important; border-right:none!important; border-left:none!important; border-bottom:none!important;}

.artfinger_join_table table > tbody > tr:first-child {border-top:1px solid #d7d5d5;}
.artfinger_join_table table > tbody > tr {border-top:none; border-right:none; border-left:none; border-bottom:none;}
.artfinger_join_table table > tbody > tr > th {width:100%; float:left; border:none; padding:30px 0 4px 0!important;}
.artfinger_join_table table > tbody > tr > td {width:100%; float:left; border:none;     padding: 0 0 0 0!important;}
.xans-member-join #email1 {width:30%;}
.xans-member-join #email2 {width:41%;}
.artfinger_join_table table .eTooltip {width:100%; display:block;}
.artfinger_join_table table input[type=text],
.artfinger_join_table table input[type=password] {padding:0 0; box-sizing:border-box; width:100%;     height:25px; text-align:left; border-bottom:1px solid #ddd; border-top:0; border-left:0; border-right:0}
.artfinger_join_table table select {padding:4px 28px 4px 5px; border:0}


